Game Files/src/main.lst
Game Files/src/main.obj

Game Files/src/words.lst
Game Files/src/words.obj

Game Files/src/hangman_art.lst
Game Files/src/hangman_art.obj

Game Files/src/music.lst
Game Files/src/music.obj

Game Files/src/hangman.pdb
Game Files/src/hangman.ilk
Game Files/src/hangman.exe

Game Files/src/Project.VC.db
Game Files/src/Project.lst
Game Files/src/Project.sdf
Game Files/src/Project.vcxproj.user
Game Files/src/Project.v12.suo
Game Files/src/Debug/